@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fraunces', serif;
}

img {
  width: 100%;
}

.header {
  color: #fff;
  background-image: url("../images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
  width: 100%;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
}

.header nav .logo img {
  width: 120px;
}

.header nav .menu-btn {
  width: 25px;
}

.header nav .menu-list {
  list-style-type: none;
  position: absolute;
  left: 50%;
  top: 12%;
  transform: translateX(-50%);
  width: 80%;
  background-color: #fff;
  color: #333;
  text-align: center;
  font-size: 1.3rem;
  height: 0;
  overflow: hidden;
  transition: all ease 1s;
}

.header nav .menu-list li {
  padding: 20px 0;
  transition: all ease .8s;
  transform: translateX(100%);
  cursor: pointer;
}

.header nav .menu-list .activated {
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  color: #333;
  position: relative;
  z-index: 5;
}

.header nav .menu-list .activated::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 100%;
  background-color: #fff;
  z-index: -1;
  border-radius: 50px;
}

.header nav .menu-list .activated:hover {
  color: #fff;
}

.header nav .menu-list .activated:hover::after {
  opacity: .5;
}

.header nav .open {
  height: 300px;
  padding: 20px 0;
}

.header .hero-section {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .hero-section h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 7px;
}

.header .hero-section img {
  width: 40px;
}

.services-body .service-box .box-text {
  padding: 50px 30px;
  text-align: center;
  background-color: #fcf5f8;
}

.services-body .service-box .box-text h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #23303e;
}

.services-body .service-box .box-text p {
  padding: 30px 0;
  color: #a7abae;
}

.services-body .service-box .box-text h3 a {
  color: #23303e;
  font-weight: 900;
  text-decoration: none;
}

.services-body .box-1 .img-box {
  background-image: url("../images/mobile/image-transform.jpg");
  width: 100%;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services-body .box-1 .box-text h3 a {
  border-bottom: 5px solid #fad400;
}

.services-body .box-1 .box-text h3 a:hover {
  border-bottom-color: #ffef94;
}

.services-body .box-2 .img-box {
  background-image: url("../images/mobile/image-stand-out.jpg");
  width: 100%;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services-body .box-2 .box-text h3 a {
  border-bottom: 5px solid #fe7867;
}

.services-body .box-2 .box-text h3 a:hover {
  border-bottom-color: #fea59a;
}

.services-body .box-3 .img-box {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  width: 100%;
  padding-top: 200%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services-body .box-4 .img-box {
  background-image: url("../images/mobile/image-photography.jpg");
  width: 100%;
  padding-top: 200%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services-body .img-over {
  position: relative;
  margin-top: -5px;
}

.services-body .img-over .box-text {
  background-color: transparent;
  z-index: 3;
  position: absolute;
  transform: translateY(-320px);
}

.services-body .img-over .text-3 h2, .services-body .img-over .text-3 p {
  color: #25564b;
}

.services-body .img-over .text-4 h2, .services-body .img-over .text-4 p {
  color: #19536b;
}

.testimonials-body {
  text-align: center;
  padding: 50px 0;
  background-color: #fcf5f8;
}

.testimonials-body h2 {
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: #818498;
  font-weight: 900;
  letter-spacing: 2px;
}

.testimonials-body .testimonial-box {
  padding: 40px 30px;
}

.testimonials-body .testimonial-box img {
  width: 90px;
  border-radius: 50%;
}

.testimonials-body .testimonial-box p {
  margin: 30px 0;
  color: #5a636c;
}

.testimonials-body .testimonial-box h3 {
  color: #23303e;
  font-weight: 900;
  margin-bottom: 10px;
}

.testimonials-body .testimonial-box small {
  color: #a7abae;
}

.image-gallery-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.image-gallery-body .gallery-box {
  width: 100%;
  padding-top: 100%;
}

.image-gallery-body .gallery-1 {
  background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-gallery-body .gallery-2 {
  background-image: url("../images/mobile/image-gallery-orange.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-gallery-body .gallery-3 {
  background-image: url("../images/mobile/image-gallery-cone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-gallery-body .gallery-4 {
  background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background-color: #60c7b3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.footer .footer-logo {
  margin: 30px 0;
}

.footer .footer-logo img {
  width: 200px;
}

.footer .footer-menu {
  display: flex;
  justify-content: space-between;
}

.footer .footer-menu a {
  display: inline-block;
  color: #25564b;
  padding: 20px;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer .footer-menu a:hover {
  color: #fff;
  transition: all ease 1s;
}

.footer .footer-socials {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 20px 0;
}

.footer .footer-socials a {
  padding: 20px;
}

.footer .footer-socials a img {
  width: 25px;
}

.footer .footer-socials a:hover {
  transform: translateY(-10px);
  transition: all ease .5s;
}

@media screen and (min-width: 600px) {
  .header {
    background-image: url("../images/desktop/image-header.jpg");
  }
  .header nav .menu-btn {
    display: none;
  }
  .header nav .menu-list {
    display: flex;
    position: unset;
    left: unset;
    top: unset;
    transform: unset;
    width: unset;
    background-color: unset;
    color: unset;
    text-align: unset;
    font-size: 1rem;
    height: unset;
    overflow: unset;
    transition: unset;
  }
  .header nav .menu-list li {
    padding: 20px 20px;
    transition: unset;
    transform: unset;
  }
  .header .hero-section {
    justify-content: flex-start;
  }
  .header .hero-section h1 {
    font-size: 2.8rem;
  }
  .services-body .service-box {
    display: flex;
  }
  .services-body .box-1 {
    flex-direction: row-reverse;
  }
  .services-body .box-1 .img-box {
    background-image: url("../images/desktop/image-transform.jpg");
    background-size: cover;
    width: 50%;
    padding-top: 50%;
  }
  .services-body .box-1 .box-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .services-body .box-2 .img-box {
    background-image: url("../images/desktop/image-stand-out.jpg");
    background-size: cover;
    width: 50%;
    padding-top: 50%;
  }
  .services-body .box-2 .box-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .services-body .box-3 .img-box {
    background-image: url("../images/desktop/image-graphic-design.jpg");
    padding-top: 100%;
    width: 100%;
  }
  .services-body .box-3 .box-text {
    width: 100%;
  }
  .services-body .box-4 .img-box {
    background-image: url("../images/desktop/image-photography.jpg");
    padding-top: 50%;
    width: 100%;
  }
  .services-body .box-4 .box-text {
    width: 100%;
  }
  .services-body .img-over {
    position: relative;
    margin-top: 0;
  }
  .services-body .img-over .box-text {
    background-color: transparent;
    z-index: 3;
    position: absolute;
    bottom: 0;
    transform: translateY(40px);
  }
  .services-body .text-over-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .testimonials-body {
    padding: 100px 30px;
  }
  .testimonials-body .testimonial-box-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .testimonials-body .testimonial-box-group .testimonial-box {
    padding: 10px;
    font-size: .9rem;
  }
  .image-gallery-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .image-gallery-body .gallery-1 {
    background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
  }
  .image-gallery-body .gallery-2 {
    background-image: url("../images/desktop/image-gallery-orange.jpg");
  }
  .image-gallery-body .gallery-3 {
    background-image: url("../images/desktop/image-gallery-cone.jpg");
  }
  .image-gallery-body .gallery-4 {
    background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
  }
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 28px;
  }
}
